<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>Send Mens</title>
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:300,400,500,600"
	rel="stylesheet"></link>
<link rel="icon" th:href="@{img/favicon.ico}" type="image/x-icon"></link>
<link rel="stylesheet" th:href="@{css/vendor.bundle.css}"></link>
<link rel="stylesheet" th:href="@{css/app.bundle.css}"></link>
<link rel="stylesheet" th:href="@{css/theme-a.css}"></link>
</head>
<body>
	<div id="app_wrapper" class="app-chat content-expanded">
		<section id="content_outer_wrapper">
			<div id="content_wrapper">
				<div id="content" class="container">
					<div id="content_type" class="boxed-leftnav card drawer">
						<div id="leftnav">
							<div class="card">
								<header class="card-heading">
									<ul class="card-actions icons left-top">
										<a href="javascript:void(0)" role="button"
											data-card-off-canvas="is-active"> <i
											class="zmdi zmdi-menu"></i>
										</a>
									</ul>
								</header>
								<div class="card-body">
									<ul
										class="list-group scrollbar mCustomScrollbar _mCS_1 mCS-autoHide"
										style="position: relative; overflow: visible;">
										<div id="mCSB_1"
											class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside"
											style="max-height: none;" tabindex="0">
											<div id="mCSB_1_container" class="mCSB_container"
												style="position: relative; top: 0; left: 0;" dir="ltr">
												<li class="list-group-item " data-contacts="show"><span
													class="pull-left"><button
															class="btn btn-green btn-fab btn-fab-sm m-r-10">
															<i class="zmdi zmdi-plus"></i>
														</button></span>
													<div class="list-group-item-body">
														<div class="list-group-item-heading m-t-5">Nova
															Conversa</div>
													</div></li>
												<li th:if="${conversas.isEmpty()}" class="list-group-item">
													<div class="list-group-item-body">
														<div class="list-group-item-heading text-center">Você
															não possui nenhuma conversa</div>
													</div>
												</li>
												<li th:if="${conversas != null}"
													th:each="conversa : ${conversas}" class="list-group-item ">
													<span class="pull-left"></span> <a
													th:href="@{/usuario/conversa/}+${conversa.id}"><div
															class="list-group-item-body">
															<div
																th:text="${conversa.participanteIniciante.username == usuarioLogado.username} ? ${conversa.participanteChamado.nome} : ${conversa.participanteIniciante.nome}"
																class="list-group-item-heading"></div>
						
															<div th:if="${conversa.getLastMensagem() != null}"
															     th:text="${conversa.getLastMensagem().decrypt(conversa.getLastMensagem().remetente)}"></div>
																																																			
															<div th:text="${conversa.getLastMensagem() == null} ? 'Não existe nenhuma mensagem' : ''"
																class="list-group-item-text"></div>
														</div> </a>
												</li>
											</div>
										</div>
										<div id="mCSB_1_scrollbar_vertical"
											class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical"
											style="display: block;">
											<div class="mCSB_draggerContainer">
												<div id="mCSB_1_dragger_vertical" class="mCSB_dragger"
													style="position: absolute; min-height: 50px; display: block; height: 333px; max-height: 554px; top: 0px;">
													<div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
												</div>
												<div class="mCSB_draggerRail"></div>
											</div>
										</div>
									</ul>
								</div>
							</div>
						</div>
						<div class="content-body">
							<div th:if="${conversa != null}" class="card">
								<header class="card-heading">

									<ul class="active-contact">
										<li class="hidden-sm hidden-md hidden-lg"><a
											href="javascript:void(0)" role="button"
											class="pull-left m-r-40 show-contacts" data-contacts="show">
												<i class="zmdi zmdi-arrow-left"></i>
										</a></li>
										<li><span class="avatar"></span></li>
										<li><span th:text="${amigo.apelido}" class="name"></span></li>
									</ul>
									
									<ul th:unless="${usuarioLogado.isAmigo(amigo)}" class="card-actions icons right-top">
											<li>
												<a th:href="@{/usuario/amigo/adicionar/}+${conversa.participanteIniciante.id}">
													<i class="zmdi zmdi-account-add"></i>
												</a>
											</li>
										</ul>
								</header>
								<div
									class="card-body mw-lightGray scrollbar mCustomScrollbar _mCS_2 mCS-autoHide mCS_no_scrollbar"
									style="position: relative; overflow: visible;">
									<div id="mCSB_2"
										class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside"
										tabindex="0" style="max-height: none;">
										<div id="mCSB_2_container"
											class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y"
											style="position: relative; top: 0; left: 0;" dir="ltr">
											<section id="chat-wrapper">
												<div th:each="mensagem : ${conversa.mensagens}"
													th:classappend="${mensagem.remetente.username == usuarioLogado.username} ? first : response"
													class="chat-row">
													<div
														th:classappend="${mensagem.remetente.username == usuarioLogado.username} ? 'bubble' : bubble_response">
														<div class="message">
															<p th:if="${mensagem != null}" th:text="${mensagem.decrypt(mensagem.remetente)}"></p>
														</div>
													</div>
												</div>
											</section>

										</div>
									</div>
									<div id="mCSB_2_scrollbar_vertical"
										class="mCSB_scrollTools mCSB_2_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical"
										style="display: none;">
										<div class="mCSB_draggerContainer">
											<div id="mCSB_2_dragger_vertical" class="mCSB_dragger"
												style="position: absolute; min-height: 50px; display: block; height: 0px; max-height: 355px; top: 0px;">
												<div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
											</div>
											<div class="mCSB_draggerRail"></div>
										</div>
									</div>
								</div>
								<div class="card-footer p-10">
									<ul class="card-actions icons left-bottom">
										<li><a href="javascript:void(0)"> <i
												class="zmdi zmdi-attachment-alt"></i>
										</a></li>
										<li><a href="javascript:void(0)"> <i
												class="zmdi zmdi-mood"></i>
										</a></li>
									</ul>

									<div class="form-group m-10 p-0 p-l-75 is-empty">
										<form th:action="@{/usuario/mensagem/enviar/}+${conversa.id}"
											method="post">
											<div class="input-group">
												<input type="text"
													class="form-control form-rounded input-lightGray"
													placeholder="Digite uma mensagem..." name="conteudo" /> <span
													class="input-group-btn">
													<button type="submit"
														class="btn btn-blue btn-fab animate-fab btn-fab-sm">
														<i class="zmdi zmdi-mail-send"></i>
													</button>
												</span>
											</div>
										</form>
									</div>
								</div>
							</div>
														<!--Chat Contact List -->
							<div class="card card-contacts hide" id="chat_contact_wrapper">
								<header class="card-heading">
									<ul
										class="card-actions icons left-top hidden-sm hidden-md hidden-lg">
										<li><a href="javascript:void(0)" role="button"
											data-off-canvas-mobile="is-active"> <i
												class="zmdi zmdi-menu"></i>
										</a></li>
									</ul>
									<h2 class="card-title p-l-50">Nova Conversa</h2>
									<ul class="card-actions icons right-top">
										<li><a href="javascript:void(0)" data-contacts="hide">
												<i class="zmdi zmdi-close"></i>
										</a></li>
									</ul>
								</header>
								<div class="card-body p-0">
									<div class="card-contacts-search">
										<div class="form-group is-empty">
											<a href="javascript:void(0)" class="close-search"
												data-card-search="close" title=""> <i
												class="zmdi zmdi-close"></i></a> <input type="text"
												placeholder="Digite o username ou o email"
												class="form-control" autocomplete="off" /> <a
												href="javascript:void(0)" class="clear-search"
												data-card-search="clear" title=""><i
												class="zmdi zmdi-close-circle"></i></a>
										</div>
									</div>
									<ul th:if="${usuarioLogado.amigos != null}" class="list-group ">
										<li th:each="amigo : ${usuarioLogado.amigos}"
											class="list-group-item" data-contacts="hide"><span
											class="pull-left"></span> <a
											th:href="@{/usuario/conversa/amigo/}+${amigo.id}"><div
													class="list-group-item-body">
													<div th:text="${amigo.apelido}"
														class="list-group-item-heading"></div>
													<div th:inline="text"
														class="list-group-item-text">@[[${amigo.usuario.username}]]</div>
												</div></a>
											<ul class="card-actions icons right-top">
												<li class="dropdown"><a href="javascript:void(0)"
													data-toggle="dropdown" aria-expanded="false"> <i
														class="zmdi
															zmdi-more-vert"></i>
												</a>
													<ul
														class="dropdown-menu btn-primary
															dropdown-menu-right">
														<li><a role="button" data-toggle="modal"
															href="javascript:void(0)" data-target="#contactEditUser"
															data-name="Gabriel Saunders"
															data-email="gabriel@materiallab.pro"
															data-phone="+1-202-555-0102"
															data-img="assets/img/profiles/09.jpg" data-star="false"><i
																class="zmdi
																	zmdi-edit"></i> Edit</a></li>
														<li><a href="javascript:void(0)"><i
																class="zmdi zmdi-archive"></i> Archive</a></li>
														<li><a href="javascript:void(0)"><i
																class="zmdi zmdi-delete"></i> Delete</a></li>
													</ul></li>
											</ul></li>
									</ul>
								</div>
								<div class="card-footer border-top">
									<ul class="card-actions icons right">
										<li data-toggle="tooltip" data-placement="left"
											data-original-title="Add New Contact">
											<button class="btn btn-primary btn-fab" data-toggle="modal"
												data-target="#newContactModal">
												<i class="zmdi zmdi-account-add"></i>
											</button>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<!--Chat Profile Menu -->
						<div class="card card-off-canvas">
							<header class="card-heading">
								<a href="javascript:void(0)" class="info"><span th:text="${usuarioLogado.email}"></span></a>
							</header>
							<div class="card-body p-0">
								<nav class="submenu">
									<ul>
										<li><a href="javascript:void(0)"><i
												class="zmdi zmdi-email-open"></i><span class="p-l-20">Amigos</span></a></li>
										<li><a href="javascript:void(0)"><i
												class="zmdi zmdi-notifications-paused"></i><span
												class="p-l-20">Bloqueados</span></a></li>
										<li><a href="javascript:void(0)"><i
												class="zmdi zmdi-mood"></i><span class="p-l-20">Status</span></a></li>
										<li class="divider"></li>
										<li><a href="javascript:void(0)"><i
												class="zmdi zmdi-settings"></i><span class="p-l-20">Configurações</span></a></li>
										<li><a th:href="@{/logout}"><i
												class="zmdi  zmdi-comment-text"></i><span class="p-l-20">Logout</span></a></li>
									</ul>
									<nav></nav>
								</nav>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
	</div>
	<!-- MODALS =============================================-->
	<div class="modal fade" id="contactEditUser" tabindex="-1"
		role="dialog" aria-labelledby="contactLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<ul class="card-actions icons right-top">
						<li><a href="javascript:void(0)" class="text-white"
							data-dismiss="modal" aria-label="Close"> <i
								class="zmdi zmdi-close"></i>
						</a></li>
					</ul>
					<h4 class="modal-title">Edit Contact</h4>
					<div class="user-avatar-wrapper">
						<figure>
							<div class="icon-upload">
								<label for="file-input"> <span class="edit-avatar">
										<img src="" alt="" class="avatar img-circle animated zoomIn" />
								</span>
								</label>
							</div>
							<figcaption>
								<h5 class="name animated fadeInUp"></h5>
								<ul class="card-actions icons">
									<li><a href="javascript:void(0)"><i
											class="zmdi star zmdi-star-outline"></i></a></li>
									<li class="dropdown"><a href="javascript:void(0)"
										data-toggle="dropdown"> <i class="zmdi zmdi-more-vert"></i>
									</a>
										<ul class="dropdown-menu p-15">
											<li>
												<div class="checkbox">
													<label class="checkbox-inline action"> <input
														type="checkbox" id="" value="" /><span
														class="checkbox-material"><span class="check"></span></span><span
														class="checkbox-material"></span> Archive
													</label>
												</div>
											</li>
											<li>
												<div class="checkbox">
													<label class="checkbox-inline action"> <input
														type="checkbox" checked="" id="" value="" /><span
														class="checkbox-material"><span class="check"></span></span><span
														class="checkbox-material"></span> Delete
													</label>
												</div>
											</li>
											<li>
												<div class="checkbox">
													<label class="checkbox-inline action"> <input
														type="checkbox" checked="" id="" value="" /><span
														class="checkbox-material"><span class="check"></span></span><span
														class="checkbox-material"></span> Block
													</label>
												</div>
											</li>
										</ul></li>
								</ul>
							</figcaption>
						</figure>
					</div>
				</div>
				<div class="modal-body">
					<div class="form-group label-floating">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="zmdi zmdi-account"></i></span> <label class="control-label">Full
								Name</label> <input type="text" class="form-control" id="edit_name"
								value="name" />
						</div>
					</div>
					<div class="form-group label-floating">
						<div class="input-group">
							<span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
							<label class="control-label">Email Address</label> <input
								type="email" class="form-control" id="edit_email"
								value="email@materiallab.pro" />
						</div>
					</div>
					<div class="form-group label-floating">
						<div class="input-group">
							<span class="input-group-addon"><i class="zmdi zmdi-phone"></i></span>
							<label class="control-label">Phone Number</label> <input
								type="text" class="form-control" id="edit_phone" value="phone" />
						</div>
					</div>
					<div class="form-group label-floating is-empty">
						<div class="input-group">
							<span class="input-group-addon"><i class="zmdi zmdi-pin"></i></span>
							<label class="control-label">Address</label> <input type="text"
								class="form-control" id="edit_address" />
						</div>
					</div>
					<div class="form-group label-floating is-empty">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="mdi mdi-note-text"></i></span> <label for="textArea"
								class="control-label">Notes</label>
							<textarea class="form-control" rows="3" id="edit_notes"></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default btn-flat pull-left">Delete</button>
					<button class="btn btn-primary btn-flat" data-dismiss="modal"
						aria-label="Close">Cancel</button>
					<button class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="newContactModal" tabindex="-1"
		role="dialog" aria-labelledby="newContactModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<ul class="card-actions icons right-top">
						<li><a href="javascript:void(0)" class="text-white"
							data-dismiss="modal" aria-label="Close"> <i
								class="zmdi zmdi-close"></i>
						</a></li>
					</ul>
					<h4 class="modal-title">Novo Amigo</h4>
					<div class="user-avatar-wrapper"></div>
				</div>
				<div class="modal-body">
					<div class="form-group label-floating is-empty">
						<form th:action="@{/usuario/amigo/adicionar}" method="post">
							<div class="form-group label-floating">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="zmdi zmdi-email"></i></span> <label class="control-label">Apelido</label>
									<input type="text" class="form-control" name="apelido"/>
								</div>
							</div>
							<div class="form-group label-floating">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="zmdi zmdi-email"></i></span> <label class="control-label">Username</label>
									<input type="text" class="form-control" name="username"/>
								</div>
							</div>
							<div class="form-group label-floating">
								<div class="input-group">
									<input type="submit" class="btn btn-primary" />
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- END MODALS =============================================-->
	<script th:src="@{js/vendor.bundle.js}"></script>
	<script th:src="@{js/app.bundle.js}"></script>



</body>
</html>