<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<title>Send Mens</title>
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:300,400,500,600"
	rel="stylesheet"></link>
<link rel="stylesheet" th:href="@{css/vendor.bundle.css}"></link>
<link rel="stylesheet" th:href="@{css/app.bundle.css}"></link>
<link rel="stylesheet" th:href="@{css/theme-a.css}"></link>
</head>
<body id="auth_wrapper">
	<div id="login_wrapper">

		<div id="login_content">
			<h1 class="login-title">Entre com sua conta</h1>
			<br />
			<div class="login-body">
				<form th:action="@{/login}" method="post">
					<div class="form-group label-floating is-empty">
						<label class="control-label">Username</label> <input type="text"
							name="username" class="form-control" />
					</div>
					<div class="form-group label-floating is-empty">
						<label class="control-label">Senha</label> <input type="password"
							name="password" class="form-control" />
					</div>
					<a href="javascript:void(0)" class="forgot-pass pull-right">Esqueceu sua senha?</a>
						<input type="submit" class="btn btn-info btn-block m-t-40" value="Entrar"/>
				</form>
			</div>
			<div class="login-footer p-15">
				<p>
					Não possui uma conta? <a href="javascript:void(0)"
						data-toggle="register">Crie uma conta</a>
				</p>
			</div>
			<div id="register_wrapper">
				<ul class="card-actions icons right-top">
					<li><a href="javascript:void(0)" data-toggle="register"> <i
							class="zmdi zmdi-close"></i>
					</a></li>
				</ul>

				<h1 class="login-title">Criar conta</h1>
				<br />
				<div class="login-body">
					<form class="clear-both" th:action="@{/usuario/cadastrar}" method="post">
						<div class="form-group label-floating is-empty">
							<label class="control-label">Nome</label> <input type="text" name="nome"
								class="form-control" />
						</div>
						<div class="form-group label-floating is-empty">
							<label class="control-label">Username</label> <input type="text" name="username"
								class="form-control" />
						</div>
						<div class="form-group label-floating is-empty">
							<label class="control-label">Email</label> <input type="email" name="email"
								class="form-control" />
						</div>
						<div class="form-group label-floating is-empty">
							<label class="control-label">Senha</label> <input
								type="password" name="senha" class="form-control" />
						</div>
						<input type="submit" class="btn btn-info btn-block m-t-40" value="Criar Conta"/>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{js/vendor.bundle.js}"></script>
	<script th:src="@{js/app.bundle.js}"></script>
</body>
</html>
